@model ECE.WebApp.MVC.Models.ErrorViewModel
@{
	ViewData["Title"] = "An error ocurred";
}

@{
	if (Model == null)
	{
		<div>
			<h2>Oops! An error ocurred. Don't worrie, our team is already working to fix it as soon as possible</h2>
		</div>
	}
	else
	{
		ViewData["Title"] = Model.Title;
		<div>
			<h2>@Html.Raw(Model.Message)</h2>
		</div>
	}
}
